.bar{
	background-color: #e8d4d4;
}
.fit{
	padding-left: 15px;
    padding-right: 15px;
}

.market{
	margin-top: 15px;
}

.center-market{
	margin-left: 80px;
}

#frm-signup{
	padding-left: 700px;
}


.events{
	margin-left: 98px;
}